<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="RouteDestinationList" value="10.60.208.27" />
    <add key="AdapterDescription" value="Check Point Virtual Network Adapter For Endpoint VPN Client #2" />
    <add key="RouteMetric" value="1000" />
    <add key="InterfaceMetric" value="1000" />
    <add key="SyncPeriod" value="100" />
  </appSettings>
</configuration>